/*-- Reset-Code --*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

/* start editing from here */
.main-title {
    background-color: #FFF44A;
    margin-bottom: 1.5rem;
}

a {
    color: #723500;
}

.btn.btn-primary, .form-check-input:checked {
    background-color: #723500;
}

.form-control:focus, .form-check-input:focus {
    border-color: #a37852;
    box-shadow: 0 0 0 .25rem rgba(163, 120, 82, .25);
}

.navbar-dark {
    background: #4e2b01;
}

.center_div {
    margin: 0 auto;
    width: 80%
}

.dataTables_filter, div.dataTables_wrapper div.dataTables_paginate.paging_simple_numbers {
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}

div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 0.3rem;
}

.page-item.active .page-link {
    background-color: #723500;
    border-color: #a37852;
    box-shadow: 0 0 0 .25rem rgba(163, 120, 82, .25);
}

.table thead th {
    background-color: #fcffda;
}