{% extends "base.html" %}
{% block title %}About US{% endblock %}
{% block mainTitle %}About US{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="/about_us">About US</a></li>
{% endblock %}
{% block mainContent %}
    <section id="about_us" class="my-3 row row-cards">
        <div class="col-md-6 col-lg-6">
            <div class="card">
                <div class="card-body p-4 text-center">
                    <img class="avatar avatar-xl mb-3 avatar-rounded"
                         src="{{ url_for('static', filename='img/juyeon_img.jpg') }}"/>
                    <h3>Juyeon Park</h3>
                    <h4>Major field : Bioinformatics</h4>
                    <h4>University : Sunmoon Univ.</h4>
                    <h4>Research : Breath</h4>
                </div>
                <div class="d-flex">
                    <a href="#" class="card-btn">Email</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="card">
                <div class="card-body p-4 text-center">
                    <img class="avatar avatar-xl mb-3 avatar-rounded"
                         src="{{ url_for('static', filename='img/mingu_img.jpg') }}"/>
                    <h3>Mingu Park</h3>
                    <h4>Major field : Bioinformatics</h4>
                    <h4>University : Sunmoon Univ.</h4>
                    <h4>Research : Everything of Computer</h4>
                </div>
                <div class="d-flex">
                    <a href="#" class="card-btn">Email</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="card">
                <div class="card-body p-4 text-center">
                    <img class="avatar avatar-xl mb-3 avatar-rounded"
                         src="{{ url_for('static', filename='img/juyeon_img.jpg') }}"/>
                    <h3>Sora Han</h3>
                    <h4>Major field : Bioinformatics</h4>
                    <h4>University : Sunmoon Univ.</h4>
                    <h4>Research : Everything of Biology</h4>
                </div>
                <div class="d-flex">
                    <a href="#" class="card-btn">Email</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="card">
                <div class="card-body p-4 text-center">
                    <img class="avatar avatar-xl mb-3 avatar-rounded"
                         src="{{ url_for('static', filename='img/juyeon_img.jpg') }}"/>
                    <h3>Hyun Lee</h3>
                    <h4>Major field : Computer Science</h4>
                    <h4>University : Sunmoon Univ.</h4>
                    <h4>Research : I don't Know</h4>
                </div>
                <div class="d-flex">
                    <a href="#" class="card-btn">Email</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}