{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block mainTitle %}Contact{% endblock %}
{% block mainContent %}
    <section id="contact" class="four">
        <div class="container">
            <header>
                <h2>What's the problem?</h2>
            </header>
            <p>Please feel free to inquire about any problems you may have while using All EC.<br>We are always ready to
                solve problems :)</p>
            <form method="post" action="/contact_page" id="email-form">
                <div class="row">
                    <div class="col-6 col-12-mobile"><input type="text" name="name_sender" placeholder="Name" value=""/>
                    </div>
                    <div class="col-6 col-12-mobile"><input type="text" name="email_sender" placeholder="Email"
                                                            value=""/>
                    </div>
                    <div class="col-6 col-12-mobile" style="display:none"><input type="text" name="email_receiver"
                                                                                 placeholder="Email"
                                                                                 value="lms960908@naver.com" readonly/>
                    </div>
                    <div class="col-12">
                        <textarea type="text" name="email_content" placeholder="Message" value=""></textarea>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-secondary" type="submit" data-dismiss="modal">Send
                            Message
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}