{% extends "base.html" %}
{% block title %}Predict History{% endblock %}
{% block mainTitle %}Predict History{% endblock %}
{% block head %}

{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="/predict_hist">Predict History</a></li>
{% endblock %}
{% block mainContent %}
    <section id="predict_hist" class="card my-3">
    <div class="card-body">
        <div>
            <h3>EC number : 1.1.1.1</h3>
        </div>
        <ul class="list mt-3">
            <li>
                <details>
                    <summary class="desc">
                        All EC
                    </summary>
                    <div class="mt-2">
                        <p>EC number : 1.1.1.1</p>
                        <p>Accepted Name : 삐리리</p>
                        <p>Reaction : 삐리리</p>
                    </div>
                </details>
            </li>
            <li>
                <details>
                    <summary class="desc">
                        DeepEC
                    </summary>
                    <div class="mt-2">
                        <p>EC number : 1.1.1.1</p>
                        <p>Accepted Name : 삐리리</p>
                        <p>Reaction : 삐리리</p>
                    </div>
                </details>
            </li>
            <li>
                <details>
                    <summary class="desc">
                        ECPred
                    </summary>
                    <div class="mt-2">
                        <p>EC number : 1.1.1.1</p>
                        <p>Accepted Name : 삐리리</p>
                        <p>Reaction : 삐리리</p>
                    </div>
                </details>
            </li>
            <li>
                <details>
                    <summary class="desc">
                        DETECT v2
                    </summary>
                    <div class="mt-2">
                        <p>EC number : 1.1.1.1</p>
                        <p>Accepted Name : 삐리리</p>
                        <p>Reaction : 삐리리</p>
                    </div>
                </details>
            </li>
            <li>
                <details>
                    <summary class="desc">
                        eCAMI
                    </summary>
                    <div class="mt-2">
                        <p>EC number : 1.1.1.1</p>
                        <p>Accepted Name : 삐리리</p>
                        <p>Reaction : 삐리리</p>
                    </div>
                </details>
            </li>
        </ul>
    </div>
        </section>
{% endblock %}
{% block mainScript %}
{% endblock %}