{% extends "base.html" %}
{% block title %}My Predicted List{% endblock %}
{% block mainTitle %}My Predicted List{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}">
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="/user_predict">My Predicted List</a></li>
{% endblock %}
{% block mainContent %}
    <section id="user_predict" class="card my-3">
        <div class="card-body">
            <div class="mb-1 text-h2">Predicted List</div>
            <ul id="job" class="list mt-3">
                <li class="ph-item">
                    <div class="ph-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_result"
                         aria-expanded="true" aria-controls="collapse_result">
                        Not found predicted list
                    </div>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
{% block mainScript %}
    <script>
        $.ajax({
            url: "/user_predict.do",
            method: "GET",
            dataType: "json",
            success: function (res) {
                console.log(res);
                draw_predicted_list(res);
            },
            error: function (err) {
                console.log(err);
            }
        })

        function draw_predicted_list(res) {
            const list_root = $("ul#job");

            if (res.job_id_list.length === 0) return;

            list_root.empty();

            for (let i = 0; i < res.job_id_list.length; i++) {
                const job_idx = res.job_id_list[i];
                const job_contents = res.job_data[job_idx];

                const li_root = $("<li class='ph-item'></li>");

                const item_header = $('' +
                    '<div class="ph-header collapsed" type="button" data-bs-toggle="collapse" ' +
                    '     data-bs-target="#collapse_' + job_idx + '" ' +
                    '     aria-expanded="false" aria-controls="collapse_' + job_idx + '">' +
                    '  <p class="d-inline-block">' + job_idx + '</p>' +
                    '  <p class="d-inline-block clearfix float-end"></p>' +
                    '</div>');

                const btn_more = $('<button class="btn btn-sm btn-detail" data-idx="' + job_idx + '">Detail</button>');
                btn_more.click(function (event) {
                    event.stopImmediatePropagation();
                    const btn = $(this);
                    const job_idx = btn.attr("data-idx");
                    location.href = "/predict_hist?job_idx=" + job_idx;
                });

                item_header.children().eq(1).append(btn_more);

                li_root.append(item_header);

                const item_body = $('<div class="ph-body row m-0 p-3 collapse" id="collapse_' + job_idx + '"></div>');

                for (let i = 0; i < job_contents.length; i++) {
                    const job_content = job_contents[i];

                    if (i !== 0) {
                        const hr_item = $('<hr class="col-12 m-0 my-3"/>')
                        item_body.append(hr_item);
                    }

                    const query_id_dom = $('' +
                        '<div class="col-md-4 markdown">' +
                        '  <h3>Query ID</h3>' +
                        '  <p>' + job_content.query_id + '</p>' +
                        '</div>');
                    item_body.append(query_id_dom);

                    const query_date_dom = $('' +
                        '<div class="col-md-4 markdown">' +
                        '  <h3>Date</h3>' +
                        '  <p>' + job_content.modified_datetime + '</p>' +
                        '</div>');
                    item_body.append(query_date_dom);

                    const predicted_ec_dom = $('' +
                        '<div class="col-md-4 markdown">' +
                        '  <h3>Predicted EC Number</h3>' +
                        '  <p>' + job_content.ec_number + '</p>' +
                        '</div>');
                    item_body.append(predicted_ec_dom);
                }

                li_root.append(item_body);

                list_root.append(li_root);
            }

            $('.collapse').collapse({
                toggle: false
            });
        }
    </script>
{% endblock %}
