{% extends "base.html" %}
{% block title %}My Predicted List{% endblock %}
{% block mainTitle %}My Predicted List{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}">
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="/user_predict">My Predicted List</a></li>
{% endblock %}
{% block mainContent %}
    <section id="user_predict" class="card my-3">
        <div class="card-body">
            <div class="mb-1 text-h2">Predicted List</div>
            <ul class="list mt-3">
                <li id="result1" class="ph-item">
                    <div class="ph-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_result1"
                         aria-expanded="true" aria-controls="collapse_result1">
                        Jod ID > 16173280800929448
                    </div>
                    <div class="ph-body p-3 collapse" id="collapse_result1">
                        <div class="row">
                            <div class="col-md-6 markdown">
                                <h3>Query ID</h3>
                                <p>sp|B8DQX7|HIS5_DESVM</p>
                            </div>
                            <div class="col-md-6 markdown">
                                <h3>Date</h3>
                                <p>2021-04-02 10:48:08</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 markdown">
                                <h3>Query ID</h3>
                                <p>sp|Q9JHW2|NIT2_MOUSE</p>
                            </div>
                            <div class="col-md-6 markdown">
                                <h3>Date</h3>
                                <p>2021-04-02 10:48:08</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 markdown">
                                <h3>Query ID</h3>
                                <p>sp|A8L1A5|MSHB_FRASN</p>
                            </div>
                            <div class="col-md-6 markdown">
                                <h3>Date</h3>
                                <p>2021-04-02 10:48:08</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="result2" class="ph-item">
                    <div class="ph-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_result2"
                         aria-expanded="true" aria-controls="collapse_result2">
                        Jod ID > 16173303108665976
                    </div>
                    <div class="ph-body p-3 collapse" id="collapse_result2">
                        <div class="row">
                            <div class="col-md-6 markdown">
                                <h3>Query ID</h3>
                                <p>sp|B8DQX7|HIS5_DESVM</p>
                            </div>
                            <div class="col-md-6 markdown">
                                <h3>Date</h3>
                                <p>2021-04-02 10:48:08</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 markdown">
                                <h3>Query ID</h3>
                                <p>sp|Q9JHW2|NIT2_MOUSE</p>
                            </div>
                            <div class="col-md-6 markdown">
                                <h3>Date</h3>
                                <p>2021-04-02 10:48:08</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 markdown">
                                <h3>Query ID</h3>
                                <p>sp|A8L1A5|MSHB_FRASN</p>
                            </div>
                            <div class="col-md-6 markdown">
                                <h3>Date</h3>
                                <p>2021-04-02 10:48:08</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="result2" class="ph-item">
                    <div class="ph-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_result2"
                         aria-expanded="true" aria-controls="collapse_result2">
                        Jod ID > 16173309295840072
                    </div>
                    <div class="ph-body p-3 collapse" id="collapse_result2">
                        <div class="row">
                            <div class="col-md-6 markdown">
                                <h3>Query ID</h3>
                                <p>sp|B8DQX7|HIS5_DESVM</p>
                            </div>
                            <div class="col-md-6 markdown">
                                <h3>Date</h3>
                                <p>2021-04-02 10:48:08</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 markdown">
                                <h3>Query ID</h3>
                                <p>sp|Q9JHW2|NIT2_MOUSE</p>
                            </div>
                            <div class="col-md-6 markdown">
                                <h3>Date</h3>
                                <p>2021-04-02 10:48:08</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 markdown">
                                <h3>Query ID</h3>
                                <p>sp|A8L1A5|MSHB_FRASN</p>
                            </div>
                            <div class="col-md-6 markdown">
                                <h3>Date</h3>
                                <p>2021-04-02 10:48:08</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="result2" class="ph-item">
                    <div class="ph-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_result2"
                         aria-expanded="true" aria-controls="collapse_result2">
                        Jod ID > 16175137847537208
                    </div>
                    <div class="ph-body p-3 collapse" id="collapse_result2">
                        <div class="row">
                            <div class="col-md-6 markdown">
                                <h3>Query ID</h3>
                                <p>sp|B8DQX7|HIS5_DESVM</p>
                            </div>
                            <div class="col-md-6 markdown">
                                <h3>Date</h3>
                                <p>2021-04-02 10:48:08</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 markdown">
                                <h3>Query ID</h3>
                                <p>sp|Q9JHW2|NIT2_MOUSE</p>
                            </div>
                            <div class="col-md-6 markdown">
                                <h3>Date</h3>
                                <p>2021-04-02 10:48:08</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 markdown">
                                <h3>Query ID</h3>
                                <p>sp|A8L1A5|MSHB_FRASN</p>
                            </div>
                            <div class="col-md-6 markdown">
                                <h3>Date</h3>
                                <p>2021-04-02 10:48:08</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="result2" class="ph-item">
                    <div class="ph-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_result2"
                         aria-expanded="true" aria-controls="collapse_result2">
                        Jod ID > 16175157996784902
                    </div>
                    <div class="ph-body p-3 collapse" id="collapse_result2">
                        <div class="row">
                            <div class="col-md-6 markdown">
                                <h3>Query ID</h3>
                                <p>sp|B8DQX7|HIS5_DESVM</p>
                            </div>
                            <div class="col-md-6 markdown">
                                <h3>Date</h3>
                                <p>2021-04-02 10:48:08</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 markdown">
                                <h3>Query ID</h3>
                                <p>sp|Q9JHW2|NIT2_MOUSE</p>
                            </div>
                            <div class="col-md-6 markdown">
                                <h3>Date</h3>
                                <p>2021-04-02 10:48:08</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 markdown">
                                <h3>Query ID</h3>
                                <p>sp|A8L1A5|MSHB_FRASN</p>
                            </div>
                            <div class="col-md-6 markdown">
                                <h3>Date</h3>
                                <p>2021-04-02 10:48:08</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="result2" class="ph-item">
                    <div class="ph-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_result2"
                         aria-expanded="true" aria-controls="collapse_result2">
                        Jod ID > 16175158538625156
                    </div>
                    <div class="ph-body p-3 collapse" id="collapse_result2">
                        <div class="row">
                            <div class="col-md-6 markdown">
                                <h3>Query ID</h3>
                                <p>sp|B8DQX7|HIS5_DESVM</p>
                            </div>
                            <div class="col-md-6 markdown">
                                <h3>Date</h3>
                                <p>2021-04-02 10:48:08</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 markdown">
                                <h3>Query ID</h3>
                                <p>sp|Q9JHW2|NIT2_MOUSE</p>
                            </div>
                            <div class="col-md-6 markdown">
                                <h3>Date</h3>
                                <p>2021-04-02 10:48:08</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 markdown">
                                <h3>Query ID</h3>
                                <p>sp|A8L1A5|MSHB_FRASN</p>
                            </div>
                            <div class="col-md-6 markdown">
                                <h3>Date</h3>
                                <p>2021-04-02 10:48:08</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
{% block mainScript %}
{% endblock %}
